h1 {
    color: #040436 !important;
    font-size: 24px !important;
    margin-bottom: 20px !important;
    font-weight: 20px !important;
}

.example-full-width {
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    min-height: 100px;
}

.button-container {
    
    display: flex;
    justify-content: center; /* Center align buttons */
    gap: 20px; /* Add gap between buttons */
}

button{
    background-color: #040436;
    color: white;
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #040436;
}
