<h1 mat-dialog-title>Forgot Password</h1>

<mat-dialog-content>

    <form [formGroup]="EmailForm" class="example-form">
        <mat-form-field   class="c-width" hideRequiredMarker appearance="outline">
            <mat-label >Email</mat-label>
            <input matInput required formControlName="email">
            <mat-error  *ngIf="EmailForm.controls['email'].touched && EmailForm.controls['email'].invalid">
                <span *ngIf="EmailForm.controls['email'].errors?.['required']">This field is mandatory</span>
                <span *ngIf="EmailForm.controls['email'].errors?.['pattern']">This field is invalid</span>
               
              </mat-error>
          </mat-form-field>

         
         

    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button class="btn" type="button" (click)="handleSubmit()"  [disabled]="!(EmailForm.valid && EmailForm.dirty)">Send</button>

    <button mat-flat-button class="btn1" type="button" mat-dialog-close>Cancel</button>

  </mat-dialog-actions>

      
      
        
     