h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 24px !important; /* Set font size for "Forgot Password" text */
  color: #040436 !important /* Set color of the text */
}


/* Adjust margin-top for the form */
mat-dialog-content {
  text-align: center; /* Center align the content */
}

.example-form {
  margin-top: 20px; /* Adjust the top margin as needed */
}

.c-width {
  width: 100%; /* Adjust the width as needed */
}

mat-dialog-actions {
  display: flex;
  justify-content: center; /* Center-align the buttons horizontally */
}

.btn, .btn1 {
  border: 1px solid #040436;
  border-radius: 20px;
  color: #040436 !important; /* Set text color of buttons */
  margin-right: 20px; /* Add margin between buttons */
  font-size: 18px;
}

